<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>LIENS UTILES</h4>
                <ul>
                    <li><a href="#">A propos</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a>Politique de retour</a></li>
                    <li><a href="#">Mon compte</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>INFORMATIONS</h4>
                <ul>
                    <li><a href="#">Nos engagements</a></li>
                    <li><a href="#">CGV</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>SUIVEZ-NOUS</h4>
                <div class="social-links">
                <div>
                    <a href="#" style="text-decoration: none;"><i class="fab fa-instagram"></i> Instagram</a>
                </div>
                <div>
                    <a href="#" style="text-decoration: none;"><i class="fab fa-facebook-f"></i> Facebook</a>
                </div>
                    
                    
                </div>
            </div>
            <div class="footer-col">
                <h4>CONTACTEZ NOUS</h4>
                <ul>
                    <li><a href="#">© 2024, Ahmed Asmae</a></li>
                    <li><a><i class="material-icons" style="font-size: 18px;vertical-align: middle;margin-right: 1rem;">email</i> ahmedasmae10@gmail.com</a></li>
                    <li><a><i class="material-icons" style="font-size: 18px;vertical-align: middle;margin-right: 1rem;">phone</i></a><span style="display:inline-block; vertical-align:middle;">+121 682702523</span></li>

                    <li><a><i class="material-icons" style="font-size: 18px;vertical-align: middle;">maps</i>tiflet</a></li>
                    <li><a href="#"><img src="../../../assets/paypal.png" style="width: 80px;height: 40px;"></a></li>
                </ul>
            </div>
           
        </div>
    </div>
</footer>