
<app-navbar></app-navbar>

<h2 class="h2 underline mb-5">A propos</h2>
<div class="mb-5" style="text-align: center; margin: 0 auto; max-width: 620px;">
    <p style="font-size: large;">
        Les motifs des tapis Amazigh marocains racontent l'histoire de nos ancêtres,
    </p>
    <p style="font-size: large;">
        tissée avec patience et amour,
    </p>
    <p style="font-size: large;">
        chaque nœud est un lien avec notre passé.
    </p>
</div>
<div style="margin-left: 320px;">
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        TEGUETIFT, un lieu où l'esprit des montagnes de l'Atlas imprègne chaque tapis berbère marocain.
    </p>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Plongez-vous dans l'attrait des traditions anciennes et des motifs vibrants.
    </p>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Notre collection soigneusement sélectionnée est une célébration du patrimoine berbère,
    </p>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        chaque tapis étant un chef-d'œuvre, une connexion à l'âme résiliente du Maroc.    </p>
   
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Transformez votre espace avec la beauté intemporelle de l'artisanat berbère.
    </p>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        Chez TEGUETIFT, le voyage au cœur des montagnes de l'Atlas commence, apportant la chaleur et 
    </p>
    <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  le caractère du Maroc dans votre maison.
    </p>
</div>

<app-footer></app-footer>




 
  
