<nav class="navbar">
    
    <img src="../../../assets/A.png" style="height: 140px;width: 140px;margin-right: 130px;">
    <ul>
        <li s><a href="/home">HOME</a></li>
        <li><a href="#about">A PROPOS</a></li>
        <li><a href="#products">NOS PRODUITS</a></li>
        <li><a href="#follow">SUIVEZ-NOUS</a></li>
        <li>
            <a routerLink="/login">
            <img src="../../../assets/utilisateur.png" style="height: 25px;width: 22px;margin-top: -10px;">
        </a></li>
        <li>
            <a href="#follow">
            <img src="../../../assets/recherche.png" style="height: 25px;width: 22px;margin-top: -10px;">
        </a>
       </li>
        <li><a href="#follow">
            <img src="../../../assets/panier.png" style="height: 25px;width: 22px;margin-top: -10px;">
        </a></li>
    </ul>
</nav>
