.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white; 
    margin-left: 100px;
    margin-right: 100px;
}
ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}
li {
    font-size: 18px;
}

a {
    text-decoration: none;
    color:black; 
}
a:hover {
    color: #ffcc00; 
}

.navbar .dropdown {
    display: none;
    position: absolute;
    top: 70%;
    left: 600px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar li:hover > .dropdown {
    display: block;
  }

  .navbar .dropdown li {
    display: block;
    margin: 10px 0;
  }
  .navbar .dropdown2 {
    display: none;
    position: absolute;
    top: 70%;
    left: 760px;
    width: 150px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar li:hover > .dropdown2 {
    display: block;
  }

  .navbar .dropdown2 li {
    display: block;
    margin: 10px 0;
  }


