
<mat-nav-list>    
        <div class="logo py-4">
            <img src="../../../assets/logo.png" style="height: 80;width: 80px;" />
          </div>
    
    <mat-divider></mat-divider>
  
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    
    <mat-nav-list>
      <a mat-list-item style="color: white;" (click)="setIcon('dashboard')">
        <mat-icon style="color: white;">dashboard</mat-icon> <span style="color: white;">Statistiques</span>
      </a>
      <a mat-list-item style="color: white;" (click)="setIcon('people')">
        <mat-icon style="color: white;">people</mat-icon> <span style="color: white;">Clients</span>
      </a>
      <a mat-list-item style="color: white;" (click)="setIcon('store')">
        <mat-icon style="color: white;">store</mat-icon> <span style="color: white;">Produits</span>
      </a>
     
    </mat-nav-list>
    
  
  </mat-nav-list>
