<div class="slideshow-container">
  
  
    <div class="mySlides">
      <img src="../../../assets/1.jpg" style="height: 400px;">
      <div class="text">
        
        <div style="color: green;"></div> 
        <div class="column text-center py-5" style="margin-left:-680px;">
          <div class="col-lg-3 m-auto">
              <div class="card" style="border: none;">
                <p style="font-size: 14px;font-family: Georgia, serif;margin-top: 30px;">
                  Welcome to TEGUETIFT, where the spirit of the Atlas Mountains weaves its 
              magic into every Moroccan Berber rug. Immerse yourself in the allure of 
              ancient traditions and vibrant patterns. Our curated collection is a celebration
              of the Berber heritage, each rug a masterpiece, a connection to the resilient 
              soul of Morocco. 
              Transform your space with the timeless beauty of Berber craftsmanship. 
              At TEGUETIFT, the journey to the heart of the Atlas Mountains begins,
              bringing the warmth and character of Morocco into your home.
                </p>
              </div>
              
          </div>
      </div>
      
          
      </div>
    </div>
    <div class="mySlides">
        <img src="../../../assets/3.jpg" style="height: 400px;" >
        <div class="text">
          
          <div  style="color: green;"></div> 
                    <div class="column text-center py-5" style="margin-left:-680px;">
                        <div class="col-lg-3 m-auto">
                
                          <div class="card" style="border: none;">
                            <p style="font-size: 14px;font-family: Georgia, serif;margin-top: 30px;">
                              Welcome to TEGUETIFT, where the spirit of the Atlas Mountains weaves its 
                          magic into every Moroccan Berber rug. Immerse yourself in the allure of 
                          ancient traditions and vibrant patterns. Our curated collection is a celebration
                          of the Berber heritage, each rug a masterpiece, a connection to the resilient 
                          soul of Morocco. 
                          Transform your space with the timeless beauty of Berber craftsmanship. 
                          At TEGUETIFT, the journey to the heart of the Atlas Mountains begins,
                          bringing the warmth and character of Morocco into your home.
                            </p>
                          </div>
            </div>
        </div>
        
          
        </div>
      </div>
      <div class="mySlides">
        <img src="../../../assets/2.jpg" style="height: 400px;">
        <div class="text">
          
          <div style="color: green;"></div> 
                    <div class="column text-center py-5" style="margin-left:-680px;">
            <div class="col-lg-3 m-auto">
                
              <div class="card" style="border: none;">
                <p style="font-size: 14px;font-family: Georgia, serif;margin-top: 30px;">
                  Welcome to TEGUETIFT, where the spirit of the Atlas Mountains weaves its 
              magic into every Moroccan Berber rug. Immerse yourself in the allure of 
              ancient traditions and vibrant patterns. Our curated collection is a celebration
              of the Berber heritage, each rug a masterpiece, a connection to the resilient 
              soul of Morocco. 
              Transform your space with the timeless beauty of Berber craftsmanship. 
              At TEGUETIFT, the journey to the heart of the Atlas Mountains begins,
              bringing the warmth and character of Morocco into your home.
                </p>
              </div>
            </div>
        </div>
        
          
        </div>
      </div>
     
  
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
    
  </div>
  