<div class="slideshow-container">
    <div class="mySlides">
      <img src="../../../assets/images3.jpg" alt="">
      <div class="text">
        <h1 class="underline mb-5" style="color: green;"> Tapis moderne, Design et tendance</h1>
        <p style="font-size: 13px; margin-left: 15px; text-align: justify;">
            Devenu la pièce centrale de toute déco d'intérieure qui se respecte,<br>
            le tapis moderne réhausse votre décoration et lui donne une réelle personnalité.<br>
            Qu'il soit tissé, tufté, ou noué à la main, <br>
            le tapis moderne contribue à créer un contraste de matières et de textures,<br>
            mais aussi de couleurs et de formes, grâce à la variété des modèles<br>
            que nous proposons.<br>
            Un amour de tapis vous garantit du plus grand choix de tapis au Maroc !
          </p>
          
          
      </div>
    </div>
  
    <div class="mySlides">
      <img src="../../../assets/images5.jpg" alt="">
      <div class="text">
        <h1 class="underline mb-5" style="color: green;margin-left: 15px;">Tapis moderne, Design et tendance</h1>
        <p style="font-size: 13px; margin-left: 15px; text-align: justify;">
            Devenu la pièce centrale de toute déco d'intérieure qui se respecte,<br>
            le tapis moderne réhausse votre décoration et lui donne une réelle personnalité.<br>
            Qu'il soit tissé, tufté, ou noué à la main, <br>
            le tapis moderne contribue à créer un contraste de matières et de textures,<br>
            mais aussi de couleurs et de formes, grâce à la variété des modèles<br>
            que nous proposons.<br>
            Un amour de tapis vous garantit du plus grand choix de tapis au Maroc !
          </p>
          
      </div>
    </div>
    <div class="mySlides">
        <img src="../../../assets/images6.jpg" alt="">
        <div class="text">
          <h1 class="underline mb-5" style="color: green;margin-left: 15px;">Tapis moderne, Design et tendance</h1>
          <p style="font-size: 13px; margin-left: 15px; text-align: justify;">
            Devenu la pièce centrale de toute déco d'intérieure qui se respecte,<br>
            le tapis moderne réhausse votre décoration et lui donne une réelle personnalité.<br>
            Qu'il soit tissé, tufté, ou noué à la main, <br>
            le tapis moderne contribue à créer un contraste de matières et de textures,<br>
            mais aussi de couleurs et de formes, grâce à la variété des modèles<br>
            que nous proposons.<br>
            Un amour de tapis vous garantit du plus grand choix de tapis au Maroc !
          </p>
          
        </div>
      </div>
      <div class="mySlides">
        <img src="../../../assets/images11.jpg" alt="">
        <div class="text">
          <h1 class="underline mb-5" style="color: green;margin-left: 15px;">Tapis moderne, Design et tendance</h1>
          <p style="font-size: 13px; margin-left: 15px; text-align: justify;">
            Devenu la pièce centrale de toute déco d'intérieure qui se respecte,<br>
            le tapis moderne réhausse votre décoration et lui donne une réelle personnalité.<br>
            Qu'il soit tissé, tufté, ou noué à la main, <br>
            le tapis moderne contribue à créer un contraste de matières et de textures,<br>
            mais aussi de couleurs et de formes, grâce à la variété des modèles<br>
            que nous proposons.<br>
            Un amour de tapis vous garantit du plus grand choix de tapis au Maroc !
          </p>
          
        </div>
      </div>
      <div class="mySlides">
        <img src="../../../assets/images6.jpg" alt="">
        <div class="text">
          <h1 class="underline mb-5" style="color: green;margin-left: 15px;">Tapis moderne, Design et tendance</h1>
          <p style="font-size: 13px; margin-left: 15px; text-align: justify;">
            Devenu la pièce centrale de toute déco d'intérieure qui se respecte,<br>
            le tapis moderne réhausse votre décoration et lui donne une réelle personnalité.<br>
            Qu'il soit tissé, tufté, ou noué à la main, <br>
            le tapis moderne contribue à créer un contraste de matières et de textures,<br>
            mais aussi de couleurs et de formes, grâce à la variété des modèles<br>
            que nous proposons.<br>
            Un amour de tapis vous garantit du plus grand choix de tapis au Maroc !
          </p>
          
        </div>
      </div>
      <div class="mySlides">
        <img src="../../../assets/images12.jpg" alt="">
        <div class="text">
          <h1 class="underline mb-5" style="color: green;margin-left: 15px;">Tapis moderne, Design et tendance</h1>
          <p style="font-size: 13px; margin-left: 15px; text-align: justify;">
            Devenu la pièce centrale de toute déco d'intérieure qui se respecte,<br>
            le tapis moderne réhausse votre décoration et lui donne une réelle personnalité.<br>
            Qu'il soit tissé, tufté, ou noué à la main, <br>
            le tapis moderne contribue à créer un contraste de matières et de textures,<br>
            mais aussi de couleurs et de formes, grâce à la variété des modèles<br>
            que nous proposons.<br>
            Un amour de tapis vous garantit du plus grand choix de tapis au Maroc !
          </p>
          
        </div>
      </div>
  
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <a class="next" (click)="plusSlides(1)">&#10095;</a>
  </div>
  